/* we're already inside the static folder, so we can use relative paths as usual */
@import './fonts/roboto-fontfacekit/stylesheet.css';

body {
  color: white;
  background-color: darkslategray;
  text-align: center;
  font-family: Roboto;
}

.logo {
  width: 256px;
  height: 256px;
}
